@import "tailwindcss";

@font-face {
	font-family: "Le Mano";
	src: url("/assets/fonts/le-mano.ttf") format("truetype"), url("/assets/fonts/le-mano-bold.ttf") format("truetype");
	font-weight: 400 700;
}

@theme {
	--color-void: #050505;
	--color-void-light: #1a1a1a;
	--color-blood: #ff0000;
	--color-ghost: #e0e0e0;

	--font-serif: var(--font-cinzel), serif;
	--font-body: var(--font-martel), serif;

	--animate-fade-in: fadeIn 2s ease-in forwards;
	--animate-flicker: flicker 3s infinite;

	--font-le-mano: "Le Mano", serif;
}

@keyframes flicker {
	0%,
	19.999%,
	22%,
	62.999%,
	64%,
	64.999%,
	70%,
	100% {
		opacity: 1;
	}
	20%,
	21.999%,
	63%,
	63.999%,
	65%,
	69.999% {
		opacity: 0.4;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
